body {
    justify-self: center;
}

th, td {
    font-size: 24px;
}

h1 {
    font-size: 32px;
}

table {
    border-spacing: 5px;
    width: 500px;
}

.bar {
    color: black;
    padding: 5px;
    font-weight: bold;
    background-color: greenyellow;
}